<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Edit Hike</title>
</head>
<body>
    <nav class="navbar navbar-expand-xl navbar-light" style="background-color: #55c48b;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">Home</a>
            <div class="collapse navbar-collapse show" id="navbarLight">
                <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/newhike">New Hike</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/myhikes">My Hikes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div id="img-container2">
            <div class="form-container col-6">
                <h1 class="center">Edit Your Hike</h1>
                <form action="/update/hike/{{ hike.id }}" method="POST">
                    <p>
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" id="title" value="{{ hike.title }}" class="form-control form-control-sm">
                    </p>
                    <p>
                        <label for="description" class="form-label">Description</label>
                        <input type="text" name="description" id="description" value="{{ hike.description }}" class="form-control form-control-sm">
                    </p>
                    <p>
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="location" id="location" value="{{ hike.location }}" class="form-control form-control-sm">
                    </p>
                    <p>
                        <label for="date" class="form-label">Date</label>
                        <input type="date" id="date" name="date" value="{{ hike.date.strftime("%Y-%m-%d") }}" class="form-control">
                    </p>
                    <p>
                        <input class="btn btn-success" type="submit" value="Update">
                    </p>
                </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</body>
</html>