#img-container {
    background-image: url("../static/hike_photo.JPG");
    height: 800px;
}

#img-container2 {
    background-image: url("../static/hike_photo2.JPG");
    height: 800px;
}

#img-container3 {
    background-image: url("../static/hike_photo3.JPG");
    height: 800px;
}

#view-container {
    margin: auto;
    width: 80%;
    border: 2px solid green;
    height: 600px;
    background-color: rgb(249, 244, 244);
}

#map {
    margin: auto;
    height: 405px;
    width: 50%;
}

.login-form {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(240, 237, 237);
    margin: 25px;
}

.form-container {
    width: 50%;
    margin: auto;
    vertical-align: top;
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(249, 244, 244);
}

.card {
    border: 1px solid green;
    background-color: rgb(249, 244, 244);
    margin-top: 10px;
}

.card-header {
    border-bottom: 1px solid green;
    background-color: rgb(249, 244, 244);
}

.center {
    text-align: center;
}





